h1 { 
    font-family: Papyrus, fantasy;
    text-align: center;
}

h2 { 
    font-family: Papyrus, fantasy;
    text-align: center;
}

h3 { 
    font-family: Papyrus, fantasy;
    text-align: center;
}

*:not(i) {
    color:magenta;
}

div.inline { 
    float:left;
    border-color: blueviolet;
    padding: 5px;
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    width: fit-content;
    border-radius: 30px;
}
.clearBoth { clear:both; }